<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/1256d109ad.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../Assets/Css/index.css">
    <title>Contacto || The Master Tourism</title>
</head>

<body>
    <header class="HeaderClass">
        <section class="HeaderSecction ">
            <div class="HeaderLogo">
                <img src="../Assets/Img/Mi proyecto.png" alt="LogoMasterTurism">
            </div>

            <div class="respmenu">

                <input type="checkbox">
                <i class="fa-solid fa-bars"></i>
                <i class="fas fa-times"></i>

                <nav>
                    <ul class="Menu_phone">
                        <li><a href="../index.html">Home</a></li>
                        <li> <a href="./Servicios.html">Servicios</a></li>
                        <li><a href="./Sobre_Nosotros.html">Sobre Nosotros</a></li>
                        <li><a href="./Contacto.html">Contacto</a></li>
                    </ul>
                    <ul class="MenuNot_phone">
                        <li><a href="../index.html">Home</a></li>
                        <li> <a href="./Servicios.html">Servicios</a></li>
                        <li><a href="./Sobre_Nosotros.html">Sobre Nosotros</a></li>
                        <li><a href="./Contacto.html">Contacto</a></li>
                    </ul>
                </nav>
            </div>

        </section>
    </header>


    <div class="bannerdiv">
        <div class="banderaSides"></div>
        <div class="banderaMiddel">
            <h1>Turismo Argentino</h1>
        </div>
        <div class="banderaSides"></div>
    </div>

    <div class="Contacto">
        <section class="Hablemos">
            <h2>Hablemos</h2>
            <p class="Text">
                ¡Nos gustaría poder saber sobre vos! coméntanos que te parecen nuestros servicios y si te gustaría que
                añadiéramos más en el futuro
            </p>
            <a href="https://goo.gl/maps/sVR6knWy3CAE37rJA" target="_blank" class="InfoLink">
                <img src="../Assets/Img/Iconos/MapPinIcon.png" alt="icon" /> El Palomar, Buenos Aires, Argentina
            </a>
            <a href="mailto:grcarranza@uade.edu.ar" target="_blank" class="InfoLink">
                <img src="../Assets/Img/Iconos/MailIcon.png" alt="icon" /> grcarranza@uade.edu.ar
            </a>
            <a href="https://api.whatsapp.com/send?phone=+5491130073328&text=Hola, me gustaria tener mas informacion sobre los cursos"
                target="_blank" class="InfoLink">
                <img src="../Assets/Img/Iconos/PhoneIcon.png" alt="icon" />
                +549 1130073328
            </a>
            <div class="redesDiv">
                <a href="https://www.instagram.com/themastertourism/?hl=es-la" target="_blank" class="redesCircle">
                    <img class="instagram" src="../Assets/Img/Iconos/Instagram.png" alt="Instagram" />
                </a>
                <a href="https://www.facebook.com/profile.php?id=100088255745003" target="_blank" class="redesCircle">
                    <img class="facebook" src="../Assets/Img/Iconos/Facebook.png" alt="Facebook" />
                </a>
                <a href="https://www.youtube.com/channel/UCJbgNz5VfETvD_wd4KiF2yQ" target="_blank" class="redesCircle">
                    <img class="youtube" src="../Assets/Img/Iconos/Youtube.png" alt="Youtube" />
                </a>
            </div>
        </section>
        <section class="FormSection">
            <form method="POST" id="noteForm" class="FormUser" action="">
                <!-- <input type="hidden" name="_cc" value="another@email.com" /> -->
                <label htmlFor="name">
                    Nombre completo <span>*</span>
                </label>
                <input type="text" name="Nombre" id="name" placeholder="Ej. Lucia Diaz" required />
                <label htmlFor="subjet">
                    Servicio <span>*</span>
                </label>
                <select name="_subject" id="subjet" required>
                    <option value="">
                        Selecciona un servicio
                    </option>
                    <option value="Consulta sobre Tour por el Ateneo">
                        Tour por el Ateneo
                    </option>
                    <option value="Consulta sobre Tour por el Jardin Japones">
                        Tour por el Jardin Japones
                    </option>
                    <option
                        value="Consulta sobre  Visita a la Floralis Genérica, Museo Nacional de Bellas Artes, Paseo alcorta">
                        Visita a la Floralis Genérica, Museo Nacional de Bellas Artes, Paseo alcorta
                    </option>
                    <option value="Consulta sobre Guia por Puerto Madero">
                        Guia por Puerto Madero
                    </option>
                </select>
                <label htmlFor="email">
                    Email <span>*</span>
                </label>
                <input type="email" name="Mail" id="email" placeholder="Ej. Lucia@gmail.com" required />
                <label htmlFor="message">
                    Mensaje <span>*</span>
                </label>
                <textarea name="Mensaje" cols="30" rows="10" id="message" placeholder="Mínimo 12 caracteres"
                    required></textarea>
                <input type="hidden" name="_template" id="_template" value="table" />
                <input type="hidden" name="_captcha" value="false" />
                <button type="submit" id="btnEnviarForm">Enviar</button>
            </form>
        </section>
    </div>




    <footer>
        <div class="Faq">

            © 2022, Master Tourism . Todos los derechos reservados.
            <br>
            <a href="https://www.buenosaires.gob.ar/defensaconsumidor/direccion-general" target="_blank"
                rel="noopener noreferrer"> Dirección Nacional de Defensa del Consumidor - Defensa de
                las y los Consumidores. Para reclamos ingrese aquí - Dirección General de Defensa y Protección al
                Consumidor
                - Información sobre derecho de arrepentimiento</a>
            <br>
            <div class="infoContacto"><a href="tel:+0810 111 4235">Para asesoramiento <b>Telefonico</b> comunicarse con
                    el +0810 111 4235, </a>
                <a href="mailto:grcarranza@uade.edu.ar">para asesoramiento <b>Via mail</b> grcarranza@uade.edu.ar</a>
            </div>
            <br>
            <div class="InfoAlumnos">Materia: Desarrollo Web <br>
                Integrantes: Gregorio Carranza Torres - Nahuel Cingolani - Lautaro Cattaneo - Ivan
                Cambiaso - Franco Churba
                <br>Docentes: Patricia Litovicius y Nicolás Beltaco
            </div>

        </div>
        <div class="icons">
            <img src="../Assets/Img/Vectores/Instagram-Positive.png" alt="Instagram">
        </div>
    </footer>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../Assets/js/FormDeContacto.js"></script>
</body>

</html>