<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Assets/Css/index.css">
    <title>Servicios || The Master Tourism</title>
</head>

<body>
    <header class="HeaderClass">
        <section class="HeaderSecction">
            <div class="HeaderLogo">
                <img src="../Assets/Img/Mi proyecto.png" alt="">
            </div>
            <div class="HeaderNav">

                <a href="../index.html">Home</a>
                <a href="./Servicios.html">Servicios</a>
                <a href="./Sobre_Nosotros.html">Sobre Nosotros</a>
                <a href="./Contacto.html">Contacto</a>
            </div>
        </section>
    </header>

    <section class="CardSecttion">
        <div class="Card">
            <h4>Libreria Ateneo</h4>
            <div class="imgDiv">
                <img class="imgAteneo" src="../Assets/Img/FotosCard/ateneoBanner.jpg" alt="">
            </div>
            <div class="Text">
                <p>El Ateneo Grand Splendid encabeza varios récords: es la librería más grande de Sudamérica, fue
                    elegida por el diario británico The Guardian como la segunda mejor librería del mundo y la revista
                    estadounidense National Geographic la destacó como la más linda. </p>
            </div>
            <div class="ButtonDiv"><a href="./Servicios/Ateneo/Ateneo.html">Como Llegar</a></div>
        </div>
        <div class="Card">
            <h4>Jardin Japones</h4>
            <div class="imgDiv">
                <img class="imgJapones" src="../Assets/Img/FotosCard/jadinJaponesBaner.JPG" alt="">
            </div>
            <div class="Text">
                <p>Rodeado por los Bosques de Palermo, el Jardín Japonés es un rincón de Buenos Aires que enamora a
                    quien lo visite. Construido en 1967 en ocasión de la visita del emperador de Japón Akihito y su
                    esposa Michiko, se trata del jardín de estilo japonés más grande fuera del país nipón. </p>
            </div>
            <div class="ButtonDiv"><a href="./Servicios/JardinJapones/JardinJapones.html">Como Llegar</a></div>
        </div>
        <div class="Card">
            <h4>Paseo por Figueroa Alcorta</h4>
            <div class="imgDiv">
                <img class="imgFlor" src="../Assets/Img/FotosCard/FloralisGenericaBanner.jpg" alt="">
            </div>
            <div class="Text">
                <p>Explora las inmediaciones de la Av Presidente Figueroa Alcorta, visita la Floralis Generica, El Museo
                    Nacional de Bellas Artes y El Paseo Alcorta) </p>
            </div>
            <div class="ButtonDiv"><a href="./Servicios/Floralis_Genérica/Floralis_Generica.html">Como Llegar</a></div>
        </div>
    </section>
    <footer>
        <div class="Faq">

            © 2022, Master Tourism . Todos los derechos reservados.
            <br>
            <a href="https://www.buenosaires.gob.ar/defensaconsumidor/direccion-general" target="_blank"
                rel="noopener noreferrer"> Dirección Nacional de Defensa del Consumidor - Defensa de
                las y los Consumidores. Para reclamos ingrese aquí - Dirección General de Defensa y Protección al
                Consumidor
                - Información sobre derecho de arrepentimiento</a>
            <br>
            <div class="infoContacto"><a href="tel:+0810 111 4235">Para asesoramiento <b>Telefonico</b> comunicarse con
                    el +0810 111 4235, </a>
                <a href="mailto:grcarranza@uade.edu.ar">para asesoramiento <b>Via mail</b> grcarranza@uade.edu.ar</a>
            </div>

        </div>
        <div class="icons">
            <img src="../Assets/Img/Vectores/Instagram-Positive.png" alt="">
        </div>
    </footer>
</body>

</html>