<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Assets/Css/index.css">
    <script src="https://kit.fontawesome.com/1256d109ad.js" crossorigin="anonymous"></script>
    <title>Sobre Nosotros || The Master Tourism</title>
</head>

<body>
    <header class="HeaderClass">
        <section class="HeaderSecction">
            <div class="HeaderLogo">
                <img src="../Assets/Img/Mi proyecto.png" alt="">
            </div>
            <div class="HeaderNav">

                <a href="../index.html">Home</a>
                <a href="./Servicios.html">Servicios</a>
                <a href="./Sobre_Nosotros.html">Sobre Nosotros</a>
                <a href="./Contacto.html">Contacto</a>
            </div>
        </section>
    </header>
    <div class="SobreNosotrosDiv">
        <section class="Mision">
            <h3>Mision</h3>
            <p>Nuestra mision es ofrecer un servicio de calidad y confiabilidad ofreciendo la mejor guia turistica de
                Buenos Aires.</p>
        </section>
        <section class="Vision">
            <h3>Vision</h3>
            <p>Ser la mejor guia turistica de Buenos Aires por la confianza y seguiridad que le ofrecemos a nuestros
                clientes.</p>
        </section>
        <section class="QuienesSomos">
            <h3>¿Quienes Somos?</h3>
            <p>Somos una empresa con amplios conocimientos de Buenos Aires que busca ofrecer la mejor informacion de
                buenos aires. </p>
        </section>
        <section class="Calificacion">
            <h3>Calificacion de nuestros usuarios<h3>
                    <p>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </p>
        </section>
    </div>
    <footer>
        <div class="Faq">

            © 2022, Master Tourism . Todos los derechos reservados.
            <br>
            <a href="https://www.buenosaires.gob.ar/defensaconsumidor/direccion-general" target="_blank"
                rel="noopener noreferrer"> Dirección Nacional de Defensa del Consumidor - Defensa de
                las y los Consumidores. Para reclamos ingrese aquí - Dirección General de Defensa y Protección al
                Consumidor
                - Información sobre derecho de arrepentimiento</a>
            <br>
            <div class="infoContacto"><a href="tel:+0810 111 4235">Para asesoramiento <b>Telefónico</b> comunicarse con
                    el +0810 111 4235, </a>
                <a href="mailto:grcarranza@uade.edu.ar">para asesoramiento <b>Vía mail</b> grcarranza@uade.edu.ar</a>
            </div>

        </div>
        <div class="icons">
            <img src="./Assets/Img/Vectores/Instagram-Positive.png" alt="">
        </div>
    </footer>
</body>

</html>