<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Assets/Css/index.css">
    <title>Sobre Nosotros || The Master Tourism</title>
</head>

<body>
    <header class="HeaderClass">
        <section class="HeaderSecction">
            <div class="HeaderLogo">
                <img src="../Assets/Img/Mi proyecto.png" alt="">
            </div>
            <div class="HeaderNav">

                <a href="../index.html">Home</a>
                <a href="./Sobre_Nosotros.html">Sobre Nosotros</a>
                <a href="./Contacto.html">Contacto</a>
            </div>
        </section>
    </header>
    <footer>
        <div class="Faq">
            © 2022 - Todos los Derechos Reservados.
        </div>
        <div class="icons">
            <img src="../Assets/Img/Vectores/Instagram-Positive.png" alt="">
        </div>
    </footer>
</body>

</html>