<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="¿Querés conocer los lugares mas emblemáticos de Buenos Aires?
    Nosotros podemos ayudarte. Somos una empresa dedicada a la realización de tours personalizados dentro de
    la Ciudad Autónoma de Buenos Aires.">
    <meta name="keywords" content="Turismo, lugares emblemáticos, servicios, información.">

    <link rel="icon" type="image/png" sizes="16x16" href="../Assets/Img/FavIco/favicon-16x16.png">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../Assets/Css/index.css">
    <script src="https://kit.fontawesome.com/1256d109ad.js" crossorigin="anonymous"></script>
    <title>Sobre Nosotros || The Master Tourism</title>
</head>

<body>
    <header class="HeaderClass">
        <section class="HeaderSecction ">
            <div class="HeaderLogo">
                <img src="../Assets/Img/Mi proyecto.png" alt="LogoMasterTurism">
            </div>

            <div class="respmenu">

                <input type="checkbox">
                <i class="fa-solid fa-bars"></i>
                <i class="fas fa-times"></i>

                <nav>
                    <ul class="Menu_phone">
                        <li><a href="../index.html">Home</a></li>
                        <li> <a href="./Servicios.html">Servicios</a></li>
                        <li><a href="./Sobre_Nosotros.html">Sobre Nosotros</a></li>
                        <li><a href="./Contacto.html">Contacto</a></li>
                    </ul>
                    <ul class="MenuNot_phone">
                        <li><a href="../index.html">Home</a></li>
                        <li> <a href="./Servicios.html">Servicios</a></li>
                        <li><a href="./Sobre_Nosotros.html">Sobre Nosotros</a></li>
                        <li><a href="./Contacto.html">Contacto</a></li>
                    </ul>
                </nav>
            </div>

        </section>
    </header>

    <div class="SobreNosotrosDiv">
        <h1>Nuestra empresa</h1>
        <section class="Mision">
            <p class="TituloDeNosotros">Misión</p>
            <p>Nuestra misión es ofrecer un servicio de calidad y confiabilidad ofreciendo la mejor guia turística de
                Buenos Aires.</p>
        </section>
        <section class="Vision">
            <p class="TituloDeNosotros">Visión</p>
            <p>Ser la mejor guia turística de Buenos Aires por la confianza y seguridad que le ofrecemos a nuestros
                clientes.</p>
        </section>
        <section class="QuienesSomos">
            <p class="TituloDeNosotros">¿Quiénes Somos?</p>
            <p>Somos una empresa con amplios conocimientos de Buenos Aires que busca ofrecer la mejor información de
                buenos aires. </p>
        </section>
        <section class="Calificacion">
            <p class="TituloDeNosotros">Calificación de nuestros usuarios</p>
            <p>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </p>
        </section>
        <br><br>

        <div class="swiper">

            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <section class="Encabezado">
                        <img src="../Assets/Img/Testimonials/Azul-Valdez-clienta.png" alt="PerfilAzulValdez">
                        <p class="Titulo">Azul Valdez</p>
                    </section>
                    <p class="Testimonio">¡La pasé muy bien en la excursión al museo de bellas artes! Espero que toda la
                        gente que vaya la pase tan bien como yo. ¡O mejor!</p>
                </div>
                <div class="swiper-slide">
                    <section class="Encabezado">
                        <img src="../Assets/Img/Testimonials/Flor-Ponce-Colega.png" alt="PerfilAzulValdez">
                        <p class="Titulo">Florencia Ponce</p>
                    </section>
                    <p class="Testimonio">Les Súper recomiendo el Jardín Japonés. Es una maravilla como la cultura
                        japonesa le es tan fiel a sus orígenes. ¡ Recomendadísimo!</p>
                </div>
                <div class="swiper-slide">
                    <section class="Encabezado">
                        <img src="../Assets/Img/Testimonials/Gisela-Rodriguez-Clienta.png" alt="PerfilAzulValdez">
                        <p class="Titulo">Gisela Rodriguez</p>
                    </section>
                    <p class="Testimonio">¡Los chicos una maravilla! ¡Me ayudaron en todo el trayecto, desde el
                        aeropuerto hasta la salida de la excursión, los recomiendo tanto que voy a volver a contratarlos
                        para el mes que viene!</p>
                </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
    <footer>
        <div class="Faq">

            © 2022, Master Tourism . Todos los derechos reservados.
            <br>
            <a href="https://www.buenosaires.gob.ar/defensaconsumidor/direccion-general" target="_blank"
                rel="noopener noreferrer"> Dirección Nacional de Defensa del Consumidor - Defensa de
                las y los Consumidores. Para reclamos ingrese aquí - Dirección General de Defensa y Protección al
                Consumidor
                - Información sobre derecho de arrepentimiento</a>
            <br>
            <div class="infoContacto"><a href="tel:+0810 111 4235">Para asesoramiento <b>Telefónico</b> comunicarse con
                    el +0810 111 4235, </a>
                <a href="mailto:grcarranza@uade.edu.ar">para asesoramiento <b>Vía mail</b> grcarranza@uade.edu.ar</a>
            </div>
            <br>
            <div class="InfoAlumnos">Materia: Desarrollo Web <br>
                Integrantes: Gregorio Carranza Torres - Nahuel Cingolani - Lautaro Cattaneo - Ivan
                Cambiaso - Franco Churba
                <br>Docentes: Patricia Litovicius y Nicolás Beltaco
            </div>
        </div>
        <div class="icons">
            <img src="../Assets/Img/Vectores/Instagram-Positive.png" alt="Instagram">
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="../Assets/js/Swiper.js"></script>
</body>

</html>