<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../Assets/Css/index.css">
    <title>The Master Tourism</title>
</head>

<body>
    <header class="HeaderClass">
        <section class="HeaderSecction">
            <div class="HeaderLogo">
                <img src="../../../Assets/Img/Mi proyecto.png" alt="">
            </div>
            <div class="HeaderNav">

                <a href="../../../index.html">Home</a>
                <a href="../../Servicios.html">Servicios</a>
                <a href="../../Sobre_Nosotros.html">Sobre Nosotros</a>
                <a href="../../Contacto.html">Contacto</a>
            </div>
        </section>
    </header>

    <section class="descriptionSecttion">

    </section>
    <footer>
        <div class="Faq">

            © 2022, Master Tourism . Todos los derechos reservados.
            <br>
            <a href="https://www.buenosaires.gob.ar/defensaconsumidor/direccion-general" target="_blank"
                rel="noopener noreferrer"> Dirección Nacional de Defensa del Consumidor - Defensa de
                las y los Consumidores. Para reclamos ingrese aquí - Dirección General de Defensa y Protección al
                Consumidor
                - Información sobre derecho de arrepentimiento</a>
            <br>
            <div class="infoContacto"><a href="tel:+0810 111 4235">Para asesoramiento <b>Telefonico</b> comunicarse con
                    el +0810 111 4235, </a>
                <a href="mailto:grcarranza@uade.edu.ar">para asesoramiento <b>Via mail</b> grcarranza@uade.edu.ar</a>
            </div>

        </div>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="../../../Assets/js/FormDeCompra.js"></script>
        <div class="icons">
            <img src="../Assets/Img/Vectores/Instagram-Positive.png" alt="">
        </div>
    </footer>
</body>

</html>