<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/1256d109ad.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../../Assets/Css/index.css">
    <title>The Master Tourism</title>
</head>

<body>
    <header class="HeaderClass">
        <section class="HeaderSecction ">
            <div class="HeaderLogo">
                <img src="../../../Assets/Img/Mi proyecto.png" alt="">
            </div>

            <div class="respmenu">

                <input type="checkbox">
                <i class="fa-solid fa-bars"></i>
                <i class="fas fa-times"></i>

                <nav>
                    <ul class="Menu_phone">
                        <li><a href="../../../index.html">Home</a></li>
                        <li> <a href="../../Servicios.html">Servicios</a></li>
                        <li><a href="../../Sobre_Nosotros.html">Sobre Nosotros</a></li>
                        <li><a href="../../Contacto.html">Contacto</a></li>
                    </ul>
                    <ul class="MenuNot_phone">
                        <li><a href="../../../index.html">Home</a></li>
                        <li> <a href="../../Servicios.html">Servicios</a></li>
                        <li><a href="../../Sobre_Nosotros.html">Sobre Nosotros</a></li>
                        <li><a href="../../Contacto.html">Contacto</a></li>
                    </ul>
                </nav>
            </div>

        </section>
    </header>


    <section class="descriptionSecttion">
        <img src="../../../Assets/Img/FotosDetalles/JardinJapones/fotoDescription.png" alt="">
        <section class="infoTravel">
            <h2>Jardin Japones</h2>
            <p>Situado en las cercanías de los Bosques de Palermo, el Jardín Japones conmemora la unión con el pueblo
                Japones.
                <br>Construida en 1967, este jardín es disfrutado por extranjeros y citadinos ya que no todos los días
                se
                puede experimentar tan de cerca con la cultura nipona.
                <br>¡Los invitamos a participar de este espectacular viaje hacia una cultura interesante, a probar
                platillos
                únicos y observar cómo eran las construcciones de esa época!
                <!-- <br>Para los más grandes y los más chicos de la familia, desde salones de te hasta alimentar a los peses
                KOI. -->
            </p>
            <p>Duración del tour: 1hr</p>
            <form action="">

                <div>
                    <label for="Niños">
                        Niños
                    </label>
                    <select name="Niños" id="Niños" required>
                        <option value="0">
                            Selecciona cantidad
                        </option>
                        <option value="870">
                            1x $870
                        </option>
                        <option value="1700">
                            2x $1700
                        </option>
                        <option value="2400">
                            3x $2400
                        </option>
                        <option value="3000">
                            4x $3000
                        </option>
                    </select>
                </div>

                <div> <label for="Adultos">
                        Adultos
                    </label>
                    <select name="Adultos" id="Adultos" required>
                        <option value="0">
                            Selecciona cantidad
                        </option>
                        <option value="1200">
                            1x $1200
                        </option>
                        <option value="2200">
                            2x $2200
                        </option>
                        <option value="3200">
                            3x $3200
                        </option>
                        <option value="4000">
                            4x $4000
                        </option>
                    </select>
                </div>

                <div>
                    <label for="souvenir">
                        Souvenirs ($1700)
                    </label>
                    <input type="checkbox" name="souvenirs" id="souvenirs">
                </div>

                <div>
                    <label for="descCode">
                        <b>Código de descuento</b>
                    </label>
                    <input type="text" name="descCode" id="descCode">
                </div>

                <input type="submit" value="Comprar" class="btnFormCompra" id="btnFormCompra">
            </form>
        </section>
    </section>
    <footer>
        <div class="Faq">

            © 2022, Master Tourism . Todos los derechos reservados.
            <br>
            <a href="https://www.buenosaires.gob.ar/defensaconsumidor/direccion-general" target="_blank"
                rel="noopener noreferrer"> Dirección Nacional de Defensa del Consumidor - Defensa de
                las y los Consumidores. Para reclamos ingrese aquí - Dirección General de Defensa y Protección al
                Consumidor
                - Información sobre derecho de arrepentimiento</a>
            <br>
            <div class="infoContacto"><a href="tel:+0810 111 4235">Para asesoramiento <b>Telefónico</b> comunicarse con
                    el +0810 111 4235, </a>
                <a href="mailto:grcarranza@uade.edu.ar">para asesoramiento <b>Vía mail</b> grcarranza@uade.edu.ar</a>
            </div>

        </div>
        <div class="icons">
            <img src="./Assets/Img/Vectores/Instagram-Positive.png" alt="">
        </div>
    </footer>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../../../Assets/js/FormDeCompra.js"></script>
</body>

</html>